/* AngularJS */
[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
    display: none !important;
}
body {
  background-image: url('../img/background.png');
  color: #444;
  font-family: 'Ubuntu', sans-serif;
  padding-top: 50px;
}
.wrapper {
  padding: 40px 15px;
}
.navbar-inverse {
  background-color: #333;
  border-bottom: 1px solid rgba(0, 0, 0, 1);
  box-shadow(rgba(255, 255, 255, .1)0 1px 0);
}
.navbar-inverse .navbar-text {
  color: #fff;
  font-size: 1.2em;
  margin-left: 10px;
  text-shadow: 1px -1px 0 rgba(0,0,0,1);
}
.label-default {
  background-color: #ddd;
}
.idol-color {
  font-size: 1em;
}
.panel-default > .panel-heading {
  background-color: #333;
  color: #fff;
}
.performer-item-title {
  padding: 5px 10px;
  white-space: nowrap;
  vertical-align: top;
}
.performer-item-value {
  padding: 5px 10px;
}
.page-nav {
  margin-top: 20px;
}
.footer {
  background-color: #f9f9f9;
  border-top: 1px solid #e5e5e5;
  padding: 40px 0;
  text-align: center;
}

/* hentai mode */
.hentai-uo {
  background: #ffcc00;
}
.chihaya {
  background: #0000ff;
}
