<!DOCTYPE html>
<html lang="jp" ng-app="app">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>M@STERS OF IDOL WORLD!! 2014 Performers</title>
    <link href="http://fonts.googleapis.com/css?family=Ubuntu:400,700" rel="stylesheet">
    <link href="css/bootstrap.min.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <script src="https://www.google.com/jsapi"></script>
    <script>google.load("visualization", "1");</script>
  </head>
<body>
  <div class="navbar navbar-fixed-top navbar-inverse" role="navigation">
    <div class="container">
      <div class="navbar-header">
        <p class="navbar-text">M@STERS OF IDOL WORLD!! 2014 Performers</p>
      </div>
    </div>
  </div>

  <div class="container wrapper" ng-controller="IdolCtrl" ng-cloak>
    <div class="row" ng-repeat="idols in idolsRows">
      <div class="col-md-4 col-sm-4 col-lg-4" ng-repeat="idol in idols">
        <div class="panel panel-default">
          <div class="panel-heading">
            <a ng-if="idol.performer_link" ng-href="{{idol.performer_link}}" target="_blank">{{idol.performer}}</a>
            <span ng-if="!idol.performer_link">{{idol.performer}}</span>
            @
            <a ng-if="idol.character_link" ng-href="{{idol.character_link}}" target="_blank">{{idol.character}}</a>
            <span ng-if="!idol.character_link">{{idol.character}}</span>
            [{{idol.attribute}}]
          </div>
          <div class="panel-body">
            <ul class="list-inline">
              <li>所　属:</li>
              <li>{{idol.affiliation}}</li>
            </ul>
            <ul class="list-inline">
              <li>カラー:</li>
              <li><h5><span class="label label-default idol-color" style="{{idol.style}}">{{idol.color}}</span></h5></li>
            </ul>
            <ul class="list-inline">
              <li>愛　称:</li>
              <li>{{idol.nickname}}</li>
            </ul>
            <ul class="list-inline">
              <li>持ち歌:</li>
              <li>
                <a ng-if="idol.song_link" ng-href="{{idol.song_link}}" target="_blank">{{idol.song}}</a>
                <span ng-if="!idol.song_link">{{idol.song}}</span>
              </li>
            </ul>
            <ul class="list-inline">
              <li>コール:</li>
              <li>
                <a ng-if="idol.call_link" ng-href="{{idol.call_link}}" target="_blank">{{idol.call_song}}</a>
              </li>
            </ul>
            <ul class="list-inline">
              <li>備　考:</li>
              <li>{{idol.remark}}</li>
            </ul>
            <hr>
            <p class="text-info pull-right">
              出演日:
              <span ng-if="idol.first_day">22日</span>
              <span ng-if="idol.second_day">23日</span>
              <span ng-if="!idol.first_day && !idol.second_day">不明</span>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>

  <footer class="footer">
    <div class="container">
      <p>Thanks to the <a href="https://docs.google.com/spreadsheet/ccc?key=0AiYLrpOi8EdddGJtdTZyQm9MdUtvamxiNll2bUtTeGc&usp=sharing#gid=0" target="_blank">original data</a> author <a href="https://twitter.com/minato_3710" target="_blank">@minato_3710</a></p>
      <a href="https://twitter.com/share" class="twitter-share-button" data-lang="ja">ツイート</a>
      <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
    </div>
  </footer>

  <!-- Google Analytics -->
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
       (i[r].q=i[r].q||[]).push(arguments)
     },i[r].l=1*new Date();a=s.createElement(o),
       m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-23712459-4', 'hogewest.github.io');
    ga('send', 'pageview');
  </script>

  <script src="js/angular.min.js"></script>
  <script src="js/app.js"></script>

</body>
</html>
